<!-- search header -->
  <header class="site-header overlay-black no-padding-bottom text-center" style="background-image: url(<%= asset_path('bg-header.jpg') %>">
  <div class="container">
    <h2>Be inspired, be</h2>
    <h1><i><strong>CONSTRUCTIVE</strong></i></h1>
    <br><br>
    <div id="faq-search" class="form-group">
      <i class="ti-search fa fa-hand-o-right" aria-hidden="true"></i>
      <!-- <i class="ti-search fa-flip-horizontal1"></i> -->
      <input type="text" class="form-control" name="search" placeholder="Find your inspiration...">
    </div>
    <br><br><br>
  </div>
</header>
